[Unit]
Description=Fetch AUR packages

[Service]
Type=simple
User=buildbot
ExecStart=/usr/bin/fetch-aur-pkg --dir "aur-src" --list "aur-pkgs-list" --pdir "aur-src-patches"
Restart=no
WorkingDirectory=/home/buildbot
