[Unit]
Description=Fetch AUR packages

[Service]
Type=simple
User=buildbot
ExecStart=/usr/bin/fetch-aur-pkg --dir "%h/aur-src" --list "%h/aur-pkgs-list" --pdir "%h/aur-src-patches"
Restart=no
